.nav-container {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 50px;
  height: 70px;
}
.nav-left-item-container {
  gap: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0px;
  font-family: 'Roboto';
  font-weight: 400;
}
.nav-right-item-container {
  list-style-type: none;
  gap: 20px;
  display: flex;
  align-items: center;
}
.courses-btn {
  background-color: #f27a44;
  border: 1px solid #f27a44;
  outline: none;
  cursor: pointer;
  padding: 9px;
  width: 100px;
  border-radius: 30px;
  font-weight: bold;
  color: #ffffff;
}
